
.*.un~
.cache/
.DS_Store
.env
.env.test
.parcel-cache
.eslintcache
.parcel-cache
.npm
.nvim*
.yarn-integrity
*.code-workspace
*.gz
*.local
*.log
*.tgz
*.un~
*.VSCodeCounter
benchmarks
coverage/
dist
node_modules
node_modules/
scratch
storybook-static
typings/